* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
}

.form-container {
  width: 650px;
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}
.form-container__title {
  font-size: 28px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form__name-inputs {
  display: flex;
  gap: 10px;
}
.form__name-inputs input {
  width: 100%;
}
.form__group {
  width: 100%;
}
.form__group--radio #query {
  display: flex;
  gap: 10px;
  margin: 8px 0;
  flex-wrap: wrap;
}
.form__group--checkbox .form__checkbox-wrapper {
  display: flex;
  margin-bottom: 8px;
  gap: 10px;
  align-items: center;
}
.form__label {
  font-size: 14px;
}
.form__input, .form__textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer;
}
.form__input:hover, .form__textarea:hover {
  border-color: hsl(169, 82%, 27%);
}
.form__input:focus, .form__textarea:focus {
  outline: 1px solid hsl(169, 82%, 27%);
}
.form__textarea {
  resize: none;
}
.form__query-options {
  display: flex;
  gap: 10px;
  margin: 8px 0;
  flex-wrap: wrap;
}
.form__query-option {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  cursor: pointer;
}
.form__query-option.radio-selected {
  background-color: hsl(148, 38%, 91%);
  border-color: hsl(169, 82%, 27%);
}
.form__radio, .form__checkbox {
  accent-color: hsl(169, 82%, 27%);
}
.form__checkbox {
  width: 15px;
}
.form__star {
  color: hsl(169, 82%, 27%);
}
.form__error {
  font-size: 14px;
  display: block;
  color: hsl(0, 66%, 56%);
}
.form__error--hidden {
  display: none;
}
.form__submit {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(169, 82%, 27%);
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid hsl(187, 24%, 22%);
  margin-top: 8px;
  cursor: pointer;
}
.form__submit:hover {
  background-color: hsl(169, 82%, 15%);
}

.toast {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, opacity 1s ease;
  z-index: 999;
}
.toast--hidden {
  transform: translate(-50%, -200px);
  opacity: 0;
  pointer-events: none;
}
.toast__message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.toast__message img {
  width: 14px;
}
.toast__message span {
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .form-container {
    width: 300px;
  }
  .form__name-inputs,
  .form__query-options {
    flex-wrap: wrap;
  }
  .toast {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
